NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000

# AI Provider (NVIDIA, OpenAI, etc.)
AI_PROVIDER=nvidia
AI_API_KEY=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
AI_MODEL=mistralai/mixtral-8x22b-instruct-v0.1
AI_BASE_URL=https://integrate.api.nvidia.com/v1
